@use '../DesignElements.module.scss' as *;
@use '../../../variables' as *;

.equalSign {
  @include itemBtnStyles;

  width: 100%;
  height: 48px;
  background: $blue;
  border: none;
  color: #ffffff;

  &:disabled {
    pointer-events: none;
  }

  &:active {
    color: #000000;
  }
}
